<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddNewGameServlet</servlet-name>
        <servlet-class>Servlets.AddNewGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamesListServlet</servlet-name>
        <servlet-class>Servlets.GamesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>Servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinExistingGameServlet</servlet-name>
        <servlet-class>Servlets.JoinExistingGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerActionServlet</servlet-name>
        <servlet-class>Servlets.PlayerActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameInfoServlet</servlet-name>
        <servlet-class>Servlets.GameInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBoardServlet</servlet-name>
        <servlet-class>Servlets.UpdateBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>Servlets.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotificationsServlet</servlet-name>
        <servlet-class>Servlets.UpdateNotificationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameFlowServlet</servlet-name>
        <servlet-class>Servlets.GameFlowServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddNewGameServlet</servlet-name>
        <url-pattern>/newgame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamesListServlet</servlet-name>
        <url-pattern>/gameslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/userslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinExistingGameServlet</servlet-name>
        <url-pattern>/joingameasplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerActionServlet</servlet-name>
        <url-pattern>/playeraction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameInfoServlet</servlet-name>
        <url-pattern>/gameinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBoardServlet</servlet-name>
        <url-pattern>/updateboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/pages/gameroom/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotificationsServlet</servlet-name>
        <url-pattern>/updatenotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameFlowServlet</servlet-name>
        <url-pattern>/gameflow</url-pattern>
    </servlet-mapping>
</web-app>
